<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<div id = "wrapper">

<div id = "formWrapper">
	<div class = "title">Login <span>you account.</span></div>

        <form method = "post" action = "loginProcess">

        <div id = "error-msg" class = "glyphicon glyphicon-remove"> {{ app.session.get('error') }} </div>
        
        	{{ form_errors(form1.email) }}
            {{ form_widget(form1.email, {'attr': {'class': 'form-control', 'placeholder': 'Email / Username'} }) }}
            <br>
            {{ form_errors(form1.password) }}
            {{ form_widget(form1.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}

            <br>
            {{ form_widget(form1.login, {'attr': {'class': 'btn btn-primary'} }) }}
            
        </form>

        Forgot password ? <a href = "#" class = "fpass"> Click here</a>.
</div>

</div>
