<html>
	<head>
			<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	</head>
	<body class = "page-resetpassword">
			<div class= "wrapper">
				<form method = "post" action = "resetProcess">


					{% for flashMessage in app.session.flashbag.get('error') %}
			            <div class="glyphicon glyphicon-remove" id = "error-msg">
			            {{ flashMessage }}
			            </div> 
			        {% endfor %}

			        {% for flashMessage in app.session.flashbag.get('success') %}
			            <div id = "success-msg" class = "glyphicon glyphicon-ok">
			            {{ flashMessage }}
			            </div> 
		        	{% endfor %}

					<p>Reset your password</p>

					{{ form_errors(form1.id) }}
					{{ form_widget(form1.id, {'attr': {'class': 'form-control', 'value': app.session.get('id') } } ) }}

				    {{ form_errors(form1.password) }}
				    {{ form_widget(form1.password, {'attr': {'class': 'form-control', 'placeholder': 'Enter new your password'} }) }}
				   
				    <br>
				    {{ form_errors(form1.conpass) }}
				    {{ form_widget(form1.conpass, {'attr': {'class': 'form-control', 'placeholder': 'Please confirm password'} }) }}
				 
				  <br>
				    {{ form_widget(form1.save, {'attr': {'class': 'btn btn-primary'} }) }}

				</div>
			</form>
	</body>
</html>