<html>
	<head>
		{% block stylesheets %}
		    {% stylesheets 
		    	'@UserExamBundle/Resources/public/css/*' filter='cssrewrite'
		     %}
		         <link rel="stylesheet" href="{{ asset_url }}" />
		         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		    {% endstylesheets %}
		{% endblock %}
	</head>
		<body class = "page-request">

			<div class = "main">

	        {% for flashMessage in app.session.flashbag.get('error') %}
	            <div class="glyphicon glyphicon-remove" id = "error-msg">
	            {{ flashMessage }}
	            </div> 
	        {% endfor %}

	        {% for flashMessage in app.session.flashbag.get('success') %}
	            <div id = "success-msg" class = "glyphicon glyphicon-ok">
	            {{ flashMessage }}
	            </div> 
        	{% endfor %}

				<p>Enter your email address to send the request.</p>

					<form method = "post" action = "sendEmailRequest">

						{{ form_errors(form1.email) }}
					    {{ form_widget(form1.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter your email'} }) }}

					    <br>

					    {{ form_widget(form1.request, {'attr': {'class': 'btn btn-primary'} }) }}

				    </form>

				<br><br>
			    <a class = "signup-forgot" href="{{ path('user_exam_login') }}"> << Back to login </a> 
				    
			</div>

		</body>
</html>