<!DOCTYPE html>
<html>

	<head>
		<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	</head>

	<body>

		<div id = "wrapper">

			<div id = "formWrapper" class = "page-signup">
				<div class = "title">Sign up <span>for free!</span></div>

			  		{% for flashMessage in app.session.flashbag.get('error') %}
			            <div class="glyphicon glyphicon-remove" id = "error-msg">
			            {{ flashMessage }}
			            </div> 
			        {% endfor %}

					 {% for flashMessage in app.session.flashbag.get('success') %}
			            <div id = "success-msg" class = "glyphicon glyphicon-ok">
			            {{ flashMessage }}
			            </div> 
			        {% endfor %}

					<form method = "post" action = "savingProcess">
						 	{{ form_errors(form1) }}
						 
							Email
							{{ form_errors(form1.email) }}
						    {{ form_widget(form1.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter your email', 'novalidate': 'novalidate'} }) }}



						    First Name
							{{ form_errors(form1.firstname) }}
						    {{ form_widget(form1.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Enter your firstname', 'novalidate': 'novalidate'} }) }}
						    Last Name
						    {{ form_errors(form1.lastname) }}
						    {{ form_widget(form1.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Enter your lastname'} }) }}
						    Password
						    {{ form_errors(form1.password) }}
						    {{ form_widget(form1.password, {'attr': {'class': 'form-control', 'placeholder': 'Enter your password'} }) }}
						    Confirm Password
						    {{ form_errors(form1.conpass) }}
						    {{ form_widget(form1.conpass, {'attr': {'class': 'form-control', 'placeholder': 'Please confirm password'} }) }}
						 
						  <br>
						    {{ form_widget(form1.save, {'attr': {'class': 'btn btn-primary'} }) }}
						    <br><br>
						    <a class = "signup-forgot" href="{{ path('user_exam_login') }}"> << Back to login </a> 
			</div>
						  
					</form>

			</div>

			</div>

	</body>

</html>


